:root {
    --blue: #03045e;
    --print-color: #011627;
    --com-color: #8d0801;
    --st-color: #335e51;
    --ph-color: #ac6a0e; 
    --grey-100: #e4e9f0;

}
h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
section{
    /* margin-left: 20px;    */
}
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.dashboard{
    background-color: #ffffff !important;
}
.location{
    padding: 10px 0px;
}
.location a {
    color: #968585;
    font-size: .875rem;
}
.location span{
    color: #003f88;
}
button{
    /* width: 30%; */
    
    text-transform: uppercase;
    vertical-align: bottom;
    border: 0;
    font-weight: 700;
    font-size: .9rem;
    line-height: 1.5;
    background-color: #ffffff;
    color: #ffffff;
    /* color: var(--blue); */
    /* border-color:var(--blue); */
    padding: 6px 16px;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.21);
}
button:focus-visible{
    outline: none !important;
}
.big_three,.small_three{
    /* position: absolute; */
    display: flex;
    justify-content: center;
}
.small_three{
    margin-top: 30px;
}
.big_three button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    letter-spacing: 2px;
}
.small_three button{
    margin-right: 10px;
}
#total_sale{
    background-color: #039684;
}
#total_sale:hover{
    background-color: #056e62;
}
#benefit{
    background-image: linear-gradient(to right bottom, #7eb51f, #86bb2c, #8ec137, #95c741, #9dcd4b);
}
#benefit:hover{
    background-color: #8f3105;
}
#most_sale{
    background-image: linear-gradient(to left bottom, #22e0c7, #1fd9c3, #1cd2be, #1accba, #19c5b5);
}
#most_sale:hover{
    background-color: #33614a;
}
.big_three_btn svg{
    margin-top: 4px;
}
.big_three_btn label{
    padding:6px;
}
#app{
    width: 40%;
    margin:auto;
    margin-top: 30px;
}
.date_form,.calendar_form{
    /* padding: 20px; */
    border-radius: 1rem;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.21);

}
.select_date,.year_month,.actual_benefits {
    color: #ffffff;
    font-size: 1.5rem;
    display: block;
    /* margin-top: 10px ; */
    margin-bottom: 20px;
    
    padding: 15px 15px 15px 23px;
    border-top-left-radius: 1rem;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.year_month{

}
.select_date{
    background-color: #776d6d;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='630' height='75' preserveAspectRatio='none' viewBox='0 0 630 75'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1105%26quot%3b)' fill='none'%3e%3crect width='630' height='75' x='0' y='0' fill='rgba(119%2c 109%2c 109%2c 1)'%3e%3c/rect%3e%3cpath d='M672 75L0 75 L0 33.53Q15.22 17.25%2c 31.5 32.48Q61.16 9.64%2c 84 39.3Q105.64 8.45%2c 136.5 30.09Q154.8 16.89%2c 168 35.19Q184.06 19.75%2c 199.5 35.81Q220.35 4.16%2c 252 25.02Q270.94 12.47%2c 283.5 31.41Q314.22 9.63%2c 336 40.35Q345.4 18.26%2c 367.5 27.66Q383.29 11.95%2c 399 27.73Q420.42 17.65%2c 430.5 39.06Q443.49 20.55%2c 462 33.54Q490.17 9.21%2c 514.5 37.38Q536.24 6.62%2c 567 28.36Q597.13 6%2c 619.5 36.13Q643.84 7.97%2c 672 32.31z' fill='rgba(119%2c 109%2c 109%2c 1)'%3e%3c/path%3e%3cpath d='M672 75L0 75 L0 51.52Q23.5 22.52%2c 52.5 46.02Q74.77 15.79%2c 105 38.06Q135.22 15.79%2c 157.5 46.01Q177.34 34.35%2c 189 54.19Q208.8 21.49%2c 241.5 41.29Q262.64 30.93%2c 273 52.07Q284.6 32.17%2c 304.5 43.77Q318.54 26.31%2c 336 40.34Q369.16 21%2c 388.5 54.16Q400.67 34.83%2c 420 46.99Q438.58 34.08%2c 451.5 52.66Q473.38 22.05%2c 504 43.93Q521.74 30.17%2c 535.5 47.91Q560.87 20.77%2c 588 46.14Q601.92 28.57%2c 619.5 42.49Q650.19 20.68%2c 672 51.37z' fill='rgba(155%2c 123%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M640.5 75L0 75 L0 62.26Q16.11 46.87%2c 31.5 62.98Q52.21 31.19%2c 84 51.91Q104.27 40.68%2c 115.5 60.95Q133.58 47.53%2c 147 65.61Q155.09 42.21%2c 178.5 50.3Q204.96 24.26%2c 231 50.72Q254.01 42.23%2c 262.5 65.25Q283.77 34.03%2c 315 55.3Q331.52 40.32%2c 346.5 56.84Q377.84 35.68%2c 399 67.02Q416.82 32.34%2c 451.5 50.16Q469.5 36.66%2c 483 54.67Q514.7 33.87%2c 535.5 65.56Q559.07 36.63%2c 588 60.19Q609.1 28.79%2c 640.5 49.88z' fill='rgba(238%2c 170%2c 170%2c 1)'%3e%3c/path%3e%3cpath d='M661.5 75L0 75 L0 64.37Q27.14 39.01%2c 52.5 66.15Q83.75 44.91%2c 105 76.16Q114.3 53.96%2c 136.5 63.26Q154.52 49.78%2c 168 67.8Q189.58 57.88%2c 199.5 79.46Q220.91 48.37%2c 252 69.78Q268.16 54.44%2c 283.5 70.61Q310.75 45.36%2c 336 72.61Q357.34 41.45%2c 388.5 62.79Q420.95 42.74%2c 441 75.19Q454.25 56.94%2c 472.5 70.19Q496.36 41.55%2c 525 65.4Q542.51 51.42%2c 556.5 68.93Q583.5 43.43%2c 609 70.43Q636.82 45.75%2c 661.5 73.56z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1105'%3e%3crect width='630' height='75' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.actual_benefits{
    height: 90px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='wave' style='transform:rotate(180deg); transition: 0.3s' viewBox='0 0 1440 350' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3clinearGradient id='sw-gradient-0' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(243, 106, 62, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(255, 179, 11, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 0px); opacity:1' fill='url(%23sw-gradient-0)' d='M0,315L12.6,274.2C25.3,233,51,152,76,110.8C101.1,70,126,70,152,64.2C176.8,58,202,47,227,58.3C252.6,70,278,105,303,145.8C328.4,187,354,233,379,221.7C404.2,210,429,140,455,134.2C480,128,505,187,531,210C555.8,233,581,222,606,204.2C631.6,187,657,163,682,157.5C707.4,152,733,163,758,157.5C783.2,152,808,128,834,151.7C858.9,175,884,245,909,233.3C934.7,222,960,128,985,116.7C1010.5,105,1036,175,1061,198.3C1086.3,222,1112,198,1137,186.7C1162.1,175,1187,175,1213,180.8C1237.9,187,1263,198,1288,180.8C1313.7,163,1339,117,1364,93.3C1389.5,70,1415,70,1440,87.5C1465.3,105,1491,140,1516,180.8C1541.1,222,1566,268,1592,285.8C1616.8,303,1642,292,1667,274.2C1692.6,257,1718,233,1743,204.2C1768.4,175,1794,140,1806,122.5L1818.9,105L1818.9,350L1806.3,350C1793.7,350,1768,350,1743,350C1717.9,350,1693,350,1667,350C1642.1,350,1617,350,1592,350C1566.3,350,1541,350,1516,350C1490.5,350,1465,350,1440,350C1414.7,350,1389,350,1364,350C1338.9,350,1314,350,1288,350C1263.2,350,1238,350,1213,350C1187.4,350,1162,350,1137,350C1111.6,350,1086,350,1061,350C1035.8,350,1011,350,985,350C960,350,935,350,909,350C884.2,350,859,350,834,350C808.4,350,783,350,758,350C732.6,350,707,350,682,350C656.8,350,632,350,606,350C581.1,350,556,350,531,350C505.3,350,480,350,455,350C429.5,350,404,350,379,350C353.7,350,328,350,303,350C277.9,350,253,350,227,350C202.1,350,177,350,152,350C126.3,350,101,350,76,350C50.5,350,25,350,13,350L0,350Z'%3e%3c/path%3e%3cdefs%3e%3clinearGradient id='sw-gradient-1' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(243, 106, 62, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(255, 179, 11, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 50px); opacity:0.9' fill='url(%23sw-gradient-1)' d='M0,175L12.6,157.5C25.3,140,51,105,76,87.5C101.1,70,126,70,152,99.2C176.8,128,202,187,227,210C252.6,233,278,222,303,192.5C328.4,163,354,117,379,81.7C404.2,47,429,23,455,52.5C480,82,505,163,531,180.8C555.8,198,581,152,606,110.8C631.6,70,657,35,682,52.5C707.4,70,733,140,758,157.5C783.2,175,808,140,834,122.5C858.9,105,884,105,909,122.5C934.7,140,960,175,985,175C1010.5,175,1036,140,1061,105C1086.3,70,1112,35,1137,29.2C1162.1,23,1187,47,1213,52.5C1237.9,58,1263,47,1288,35C1313.7,23,1339,12,1364,40.8C1389.5,70,1415,140,1440,151.7C1465.3,163,1491,117,1516,105C1541.1,93,1566,117,1592,157.5C1616.8,198,1642,257,1667,268.3C1692.6,280,1718,245,1743,245C1768.4,245,1794,280,1806,297.5L1818.9,315L1818.9,350L1806.3,350C1793.7,350,1768,350,1743,350C1717.9,350,1693,350,1667,350C1642.1,350,1617,350,1592,350C1566.3,350,1541,350,1516,350C1490.5,350,1465,350,1440,350C1414.7,350,1389,350,1364,350C1338.9,350,1314,350,1288,350C1263.2,350,1238,350,1213,350C1187.4,350,1162,350,1137,350C1111.6,350,1086,350,1061,350C1035.8,350,1011,350,985,350C960,350,935,350,909,350C884.2,350,859,350,834,350C808.4,350,783,350,758,350C732.6,350,707,350,682,350C656.8,350,632,350,606,350C581.1,350,556,350,531,350C505.3,350,480,350,455,350C429.5,350,404,350,379,350C353.7,350,328,350,303,350C277.9,350,253,350,227,350C202.1,350,177,350,152,350C126.3,350,101,350,76,350C50.5,350,25,350,13,350L0,350Z'%3e%3c/path%3e%3cdefs%3e%3clinearGradient id='sw-gradient-2' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(243, 106, 62, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(255, 179, 11, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 100px); opacity:0.8' fill='url(%23sw-gradient-2)' d='M0,210L12.6,227.5C25.3,245,51,280,76,268.3C101.1,257,126,198,152,180.8C176.8,163,202,187,227,169.2C252.6,152,278,93,303,58.3C328.4,23,354,12,379,40.8C404.2,70,429,140,455,157.5C480,175,505,140,531,105C555.8,70,581,35,606,52.5C631.6,70,657,140,682,151.7C707.4,163,733,117,758,134.2C783.2,152,808,233,834,274.2C858.9,315,884,315,909,303.3C934.7,292,960,268,985,250.8C1010.5,233,1036,222,1061,227.5C1086.3,233,1112,257,1137,268.3C1162.1,280,1187,280,1213,256.7C1237.9,233,1263,187,1288,180.8C1313.7,175,1339,210,1364,221.7C1389.5,233,1415,222,1440,198.3C1465.3,175,1491,140,1516,110.8C1541.1,82,1566,58,1592,46.7C1616.8,35,1642,35,1667,75.8C1692.6,117,1718,198,1743,198.3C1768.4,198,1794,117,1806,75.8L1818.9,35L1818.9,350L1806.3,350C1793.7,350,1768,350,1743,350C1717.9,350,1693,350,1667,350C1642.1,350,1617,350,1592,350C1566.3,350,1541,350,1516,350C1490.5,350,1465,350,1440,350C1414.7,350,1389,350,1364,350C1338.9,350,1314,350,1288,350C1263.2,350,1238,350,1213,350C1187.4,350,1162,350,1137,350C1111.6,350,1086,350,1061,350C1035.8,350,1011,350,985,350C960,350,935,350,909,350C884.2,350,859,350,834,350C808.4,350,783,350,758,350C732.6,350,707,350,682,350C656.8,350,632,350,606,350C581.1,350,556,350,531,350C505.3,350,480,350,455,350C429.5,350,404,350,379,350C353.7,350,328,350,303,350C277.9,350,253,350,227,350C202.1,350,177,350,152,350C126.3,350,101,350,76,350C50.5,350,25,350,13,350L0,350Z'%3e%3c/path%3e%3c/svg%3e");

}

#start_end{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 22px 20px 22px;
    column-gap: 8px;
}

.input {
    position: relative;
    display: inline-flex;
    color: #000;
    box-sizing: border-box;
    /* width: 100%; */
    padding:15px 8px;
    background: transparent;
    border-radius: 4px;
    margin-right: 10px;
    color: #ffffff;
    padding: 15px 8px 4px 8px;
}
.startDate{
    background-color: #a06059;
    border-bottom: 4px solid #c58a83;
}
.endDate{
    background-color: #8d8d2f;
    border-bottom: 4px solid #d5d561;
}
.ab_startDate{
    background-image: linear-gradient(to right bottom, #ff9b00, #f79606, #ee910b, #e68c0f, #de8712);

}
.ab_endDate{
    background-image: linear-gradient(to left top, #e0b20b, #ddb90e, #d9c114, #d5c81a, #d1cf22);

}
.ab_startBg,.ab_endBg{
    background: transparent;
}
.ab_textShadow_st{
    text-shadow: 1px 2px #99855d;
}
.startBg{
    background-color: #a06059;
}
.endBg{
    background-color: #8d8d2f;
}
.applyBtn{
    color: #521d1d;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    background-color: #ffcbcb;
    padding: 10px;
}
.ab_applyBtn{
    color: #ffffff;
    background-image: linear-gradient(to left top, #e09b0b, #e89905, #ef9701, #f79500, #ff9200);
}
.ab_applyBtn:hover{
    
}

.input i {
    padding-top: 6px;
}
.input__label {
    position: absolute;

    left: 10;
    top: 0;
    font-size:1rem;
    padding: 8px 8px;
    margin: 10px 3px;
    margin-left: 30px;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: transparent;
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;    
    cursor: pointer;     
}
.input__field {
    width: 210px;
    border: none;
    padding-left: .6rem;
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 4px;
    color: #ffffff;
    
}
.input__field:focus-visible{
   outline: none;
}
.input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
    transform: translateY(-20%) scale(0.8);
    font-size: 1rem;
}
#calculate_results{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}
.total_sale_card,.actual_benefit_card{
    position: relative;
    margin-top: 20px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 21%);
}
.total_sale_card > h1,.actual_benefit_card > h1,.most_sale_card > h1{
    padding-left: 14px;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    border-top-left-radius: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.total_sale_card > h1{
    color: #1d8551;
}
.actual_benefit_card > h1{
    color:  #7f7c0f;

}
.most_sale_card > h1 {
    color:  #1c9c8b;
}
.UpperWave,.lowerWave,.ab_UpperWave,.ab_LowerWave,.ms_UW,.ms_LW{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45px;
}
.ab_UpperWave{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='wave' style='transform:rotate(180deg); transition: 0.3s' viewBox='0 0 1440 160' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3clinearGradient id='sw-gradient-0' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(136.152, 136.152, 28.945, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(197, 197, 45, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 0px); opacity:1' fill='url(%23sw-gradient-0)' d='M0,80L12.6,90.7C25.3,101,51,123,76,112C101.1,101,126,59,152,42.7C176.8,27,202,37,227,48C252.6,59,278,69,303,61.3C328.4,53,354,27,379,34.7C404.2,43,429,85,455,101.3C480,117,505,107,531,90.7C555.8,75,581,53,606,45.3C631.6,37,657,43,682,37.3C707.4,32,733,16,758,29.3C783.2,43,808,85,834,106.7C858.9,128,884,128,909,109.3C934.7,91,960,53,985,45.3C1010.5,37,1036,59,1061,72C1086.3,85,1112,91,1137,93.3C1162.1,96,1187,96,1213,90.7C1237.9,85,1263,75,1288,66.7C1313.7,59,1339,53,1364,53.3C1389.5,53,1415,59,1440,61.3C1465.3,64,1491,64,1516,77.3C1541.1,91,1566,117,1592,112C1616.8,107,1642,69,1667,50.7C1692.6,32,1718,32,1743,34.7C1768.4,37,1794,43,1806,45.3L1818.9,48L1818.9,160L1806.3,160C1793.7,160,1768,160,1743,160C1717.9,160,1693,160,1667,160C1642.1,160,1617,160,1592,160C1566.3,160,1541,160,1516,160C1490.5,160,1465,160,1440,160C1414.7,160,1389,160,1364,160C1338.9,160,1314,160,1288,160C1263.2,160,1238,160,1213,160C1187.4,160,1162,160,1137,160C1111.6,160,1086,160,1061,160C1035.8,160,1011,160,985,160C960,160,935,160,909,160C884.2,160,859,160,834,160C808.4,160,783,160,758,160C732.6,160,707,160,682,160C656.8,160,632,160,606,160C581.1,160,556,160,531,160C505.3,160,480,160,455,160C429.5,160,404,160,379,160C353.7,160,328,160,303,160C277.9,160,253,160,227,160C202.1,160,177,160,152,160C126.3,160,101,160,76,160C50.5,160,25,160,13,160L0,160Z'%3e%3c/path%3e%3cdefs%3e%3clinearGradient id='sw-gradient-1' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(183.964, 183.964, 52.613, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(190.795, 190.795, 63.185, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 50px); opacity:0.9' fill='url(%23sw-gradient-1)' d='M0,144L12.6,122.7C25.3,101,51,59,76,40C101.1,21,126,27,152,42.7C176.8,59,202,85,227,85.3C252.6,85,278,59,303,40C328.4,21,354,11,379,24C404.2,37,429,75,455,90.7C480,107,505,101,531,98.7C555.8,96,581,96,606,104C631.6,112,657,128,682,117.3C707.4,107,733,69,758,45.3C783.2,21,808,11,834,29.3C858.9,48,884,96,909,98.7C934.7,101,960,59,985,58.7C1010.5,59,1036,101,1061,106.7C1086.3,112,1112,80,1137,58.7C1162.1,37,1187,27,1213,37.3C1237.9,48,1263,80,1288,88C1313.7,96,1339,80,1364,82.7C1389.5,85,1415,107,1440,101.3C1465.3,96,1491,64,1516,48C1541.1,32,1566,32,1592,26.7C1616.8,21,1642,11,1667,10.7C1692.6,11,1718,21,1743,34.7C1768.4,48,1794,64,1806,72L1818.9,80L1818.9,160L1806.3,160C1793.7,160,1768,160,1743,160C1717.9,160,1693,160,1667,160C1642.1,160,1617,160,1592,160C1566.3,160,1541,160,1516,160C1490.5,160,1465,160,1440,160C1414.7,160,1389,160,1364,160C1338.9,160,1314,160,1288,160C1263.2,160,1238,160,1213,160C1187.4,160,1162,160,1137,160C1111.6,160,1086,160,1061,160C1035.8,160,1011,160,985,160C960,160,935,160,909,160C884.2,160,859,160,834,160C808.4,160,783,160,758,160C732.6,160,707,160,682,160C656.8,160,632,160,606,160C581.1,160,556,160,531,160C505.3,160,480,160,455,160C429.5,160,404,160,379,160C353.7,160,328,160,303,160C277.9,160,253,160,227,160C202.1,160,177,160,152,160C126.3,160,101,160,76,160C50.5,160,25,160,13,160L0,160Z'%3e%3c/path%3e%3c/svg%3e");
}
.ab_LowerWave{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='wave' style='transform:rotate(0deg); transition: 0.3s' viewBox='0 0 1440 160' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3clinearGradient id='sw-gradient-0' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(136.152, 136.152, 28.945, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(197, 197, 45, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 0px); opacity:1' fill='url(%23sw-gradient-0)' d='M0,16L11.4,24C22.9,32,46,48,69,45.3C91.4,43,114,21,137,26.7C160,32,183,64,206,80C228.6,96,251,96,274,93.3C297.1,91,320,85,343,93.3C365.7,101,389,123,411,109.3C434.3,96,457,48,480,34.7C502.9,21,526,43,549,53.3C571.4,64,594,64,617,58.7C640,53,663,43,686,48C708.6,53,731,75,754,90.7C777.1,107,800,117,823,117.3C845.7,117,869,107,891,104C914.3,101,937,107,960,109.3C982.9,112,1006,112,1029,104C1051.4,96,1074,80,1097,85.3C1120,91,1143,117,1166,106.7C1188.6,96,1211,48,1234,37.3C1257.1,27,1280,53,1303,58.7C1325.7,64,1349,48,1371,48C1394.3,48,1417,64,1440,77.3C1462.9,91,1486,101,1509,90.7C1531.4,80,1554,48,1577,40C1600,32,1623,48,1634,56L1645.7,64L1645.7,160L1634.3,160C1622.9,160,1600,160,1577,160C1554.3,160,1531,160,1509,160C1485.7,160,1463,160,1440,160C1417.1,160,1394,160,1371,160C1348.6,160,1326,160,1303,160C1280,160,1257,160,1234,160C1211.4,160,1189,160,1166,160C1142.9,160,1120,160,1097,160C1074.3,160,1051,160,1029,160C1005.7,160,983,160,960,160C937.1,160,914,160,891,160C868.6,160,846,160,823,160C800,160,777,160,754,160C731.4,160,709,160,686,160C662.9,160,640,160,617,160C594.3,160,571,160,549,160C525.7,160,503,160,480,160C457.1,160,434,160,411,160C388.6,160,366,160,343,160C320,160,297,160,274,160C251.4,160,229,160,206,160C182.9,160,160,160,137,160C114.3,160,91,160,69,160C45.7,160,23,160,11,160L0,160Z'%3e%3c/path%3e%3cdefs%3e%3clinearGradient id='sw-gradient-1' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(183.964, 183.964, 52.613, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(190.795, 190.795, 63.185, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 50px); opacity:0.9' fill='url(%23sw-gradient-1)' d='M0,32L11.4,29.3C22.9,27,46,21,69,21.3C91.4,21,114,27,137,32C160,37,183,43,206,61.3C228.6,80,251,112,274,114.7C297.1,117,320,91,343,69.3C365.7,48,389,32,411,45.3C434.3,59,457,101,480,109.3C502.9,117,526,91,549,74.7C571.4,59,594,53,617,42.7C640,32,663,16,686,24C708.6,32,731,64,754,72C777.1,80,800,64,823,69.3C845.7,75,869,101,891,117.3C914.3,133,937,139,960,120C982.9,101,1006,59,1029,34.7C1051.4,11,1074,5,1097,13.3C1120,21,1143,43,1166,56C1188.6,69,1211,75,1234,72C1257.1,69,1280,59,1303,53.3C1325.7,48,1349,48,1371,45.3C1394.3,43,1417,37,1440,45.3C1462.9,53,1486,75,1509,85.3C1531.4,96,1554,96,1577,85.3C1600,75,1623,53,1634,42.7L1645.7,32L1645.7,160L1634.3,160C1622.9,160,1600,160,1577,160C1554.3,160,1531,160,1509,160C1485.7,160,1463,160,1440,160C1417.1,160,1394,160,1371,160C1348.6,160,1326,160,1303,160C1280,160,1257,160,1234,160C1211.4,160,1189,160,1166,160C1142.9,160,1120,160,1097,160C1074.3,160,1051,160,1029,160C1005.7,160,983,160,960,160C937.1,160,914,160,891,160C868.6,160,846,160,823,160C800,160,777,160,754,160C731.4,160,709,160,686,160C662.9,160,640,160,617,160C594.3,160,571,160,549,160C525.7,160,503,160,480,160C457.1,160,434,160,411,160C388.6,160,366,160,343,160C320,160,297,160,274,160C251.4,160,229,160,206,160C182.9,160,160,160,137,160C114.3,160,91,160,69,160C45.7,160,23,160,11,160L0,160Z'%3e%3c/path%3e%3c/svg%3e");
}
.UpperWave{
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg id='wave' style='transform:rotate(180deg); transition: 0.3s' viewBox='0 0 1440 120' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3clinearGradient id='sw-gradient-0' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(3, 150, 132, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(133.818, 222.214, 176.993, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 0px); opacity:1' fill='url(%23sw-gradient-0)' d='M0,72L12,62C24,52,48,32,72,24C96,16,120,20,144,36C168,52,192,80,216,78C240,76,264,44,288,44C312,44,336,76,360,92C384,108,408,108,432,100C456,92,480,76,504,58C528,40,552,20,576,14C600,8,624,16,648,24C672,32,696,40,720,48C744,56,768,64,792,56C816,48,840,24,864,16C888,8,912,16,936,26C960,36,984,48,1008,58C1032,68,1056,76,1080,82C1104,88,1128,92,1152,82C1176,72,1200,48,1224,44C1248,40,1272,56,1296,54C1320,52,1344,32,1368,38C1392,44,1416,76,1440,86C1464,96,1488,84,1512,72C1536,60,1560,48,1584,46C1608,44,1632,52,1656,54C1680,56,1704,52,1716,50L1728,48L1728,120L1716,120C1704,120,1680,120,1656,120C1632,120,1608,120,1584,120C1560,120,1536,120,1512,120C1488,120,1464,120,1440,120C1416,120,1392,120,1368,120C1344,120,1320,120,1296,120C1272,120,1248,120,1224,120C1200,120,1176,120,1152,120C1128,120,1104,120,1080,120C1056,120,1032,120,1008,120C984,120,960,120,936,120C912,120,888,120,864,120C840,120,816,120,792,120C768,120,744,120,720,120C696,120,672,120,648,120C624,120,600,120,576,120C552,120,528,120,504,120C480,120,456,120,432,120C408,120,384,120,360,120C336,120,312,120,288,120C264,120,240,120,216,120C192,120,168,120,144,120C120,120,96,120,72,120C48,120,24,120,12,120L0,120Z'%3e%3c/path%3e%3cdefs%3e%3clinearGradient id='sw-gradient-1' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(96.761, 235.875, 141.142, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(41.249, 210.83, 190.065, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 50px); opacity:0.9' fill='url(%23sw-gradient-1)' d='M0,24L12,38C24,52,48,80,72,82C96,84,120,60,144,48C168,36,192,36,216,42C240,48,264,60,288,54C312,48,336,24,360,12C384,0,408,0,432,18C456,36,480,72,504,90C528,108,552,108,576,94C600,80,624,52,648,38C672,24,696,24,720,24C744,24,768,24,792,28C816,32,840,40,864,50C888,60,912,72,936,68C960,64,984,44,1008,38C1032,32,1056,40,1080,38C1104,36,1128,24,1152,28C1176,32,1200,52,1224,50C1248,48,1272,24,1296,28C1320,32,1344,64,1368,78C1392,92,1416,88,1440,76C1464,64,1488,44,1512,48C1536,52,1560,80,1584,86C1608,92,1632,76,1656,76C1680,76,1704,92,1716,100L1728,108L1728,120L1716,120C1704,120,1680,120,1656,120C1632,120,1608,120,1584,120C1560,120,1536,120,1512,120C1488,120,1464,120,1440,120C1416,120,1392,120,1368,120C1344,120,1320,120,1296,120C1272,120,1248,120,1224,120C1200,120,1176,120,1152,120C1128,120,1104,120,1080,120C1056,120,1032,120,1008,120C984,120,960,120,936,120C912,120,888,120,864,120C840,120,816,120,792,120C768,120,744,120,720,120C696,120,672,120,648,120C624,120,600,120,576,120C552,120,528,120,504,120C480,120,456,120,432,120C408,120,384,120,360,120C336,120,312,120,288,120C264,120,240,120,216,120C192,120,168,120,144,120C120,120,96,120,72,120C48,120,24,120,12,120L0,120Z'%3e%3c/path%3e%3c/svg%3e");
}
.lowerWave{
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg id='wave' style='transform:rotate(0deg); transition: 0.3s' viewBox='0 0 1440 120' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3clinearGradient id='sw-gradient-0' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(3, 150, 132, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(133.818, 222.214, 176.993, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 0px); opacity:1' fill='url(%23sw-gradient-0)' d='M0,72L12,62C24,52,48,32,72,24C96,16,120,20,144,36C168,52,192,80,216,78C240,76,264,44,288,44C312,44,336,76,360,92C384,108,408,108,432,100C456,92,480,76,504,58C528,40,552,20,576,14C600,8,624,16,648,24C672,32,696,40,720,48C744,56,768,64,792,56C816,48,840,24,864,16C888,8,912,16,936,26C960,36,984,48,1008,58C1032,68,1056,76,1080,82C1104,88,1128,92,1152,82C1176,72,1200,48,1224,44C1248,40,1272,56,1296,54C1320,52,1344,32,1368,38C1392,44,1416,76,1440,86C1464,96,1488,84,1512,72C1536,60,1560,48,1584,46C1608,44,1632,52,1656,54C1680,56,1704,52,1716,50L1728,48L1728,120L1716,120C1704,120,1680,120,1656,120C1632,120,1608,120,1584,120C1560,120,1536,120,1512,120C1488,120,1464,120,1440,120C1416,120,1392,120,1368,120C1344,120,1320,120,1296,120C1272,120,1248,120,1224,120C1200,120,1176,120,1152,120C1128,120,1104,120,1080,120C1056,120,1032,120,1008,120C984,120,960,120,936,120C912,120,888,120,864,120C840,120,816,120,792,120C768,120,744,120,720,120C696,120,672,120,648,120C624,120,600,120,576,120C552,120,528,120,504,120C480,120,456,120,432,120C408,120,384,120,360,120C336,120,312,120,288,120C264,120,240,120,216,120C192,120,168,120,144,120C120,120,96,120,72,120C48,120,24,120,12,120L0,120Z'%3e%3c/path%3e%3cdefs%3e%3clinearGradient id='sw-gradient-1' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(96.761, 235.875, 141.142, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(41.249, 210.83, 190.065, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 50px); opacity:0.9' fill='url(%23sw-gradient-1)' d='M0,24L12,38C24,52,48,80,72,82C96,84,120,60,144,48C168,36,192,36,216,42C240,48,264,60,288,54C312,48,336,24,360,12C384,0,408,0,432,18C456,36,480,72,504,90C528,108,552,108,576,94C600,80,624,52,648,38C672,24,696,24,720,24C744,24,768,24,792,28C816,32,840,40,864,50C888,60,912,72,936,68C960,64,984,44,1008,38C1032,32,1056,40,1080,38C1104,36,1128,24,1152,28C1176,32,1200,52,1224,50C1248,48,1272,24,1296,28C1320,32,1344,64,1368,78C1392,92,1416,88,1440,76C1464,64,1488,44,1512,48C1536,52,1560,80,1584,86C1608,92,1632,76,1656,76C1680,76,1704,92,1716,100L1728,108L1728,120L1716,120C1704,120,1680,120,1656,120C1632,120,1608,120,1584,120C1560,120,1536,120,1512,120C1488,120,1464,120,1440,120C1416,120,1392,120,1368,120C1344,120,1320,120,1296,120C1272,120,1248,120,1224,120C1200,120,1176,120,1152,120C1128,120,1104,120,1080,120C1056,120,1032,120,1008,120C984,120,960,120,936,120C912,120,888,120,864,120C840,120,816,120,792,120C768,120,744,120,720,120C696,120,672,120,648,120C624,120,600,120,576,120C552,120,528,120,504,120C480,120,456,120,432,120C408,120,384,120,360,120C336,120,312,120,288,120C264,120,240,120,216,120C192,120,168,120,144,120C120,120,96,120,72,120C48,120,24,120,12,120L0,120Z'%3e%3c/path%3e%3c/svg%3e");
}
.ms_UW{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='wave' style='transform:rotate(180deg); transition: 0.3s' viewBox='0 0 1440 120' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3clinearGradient id='sw-gradient-0' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(33.599, 117.482, 106.445, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(34, 224, 199, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 0px); opacity:1' fill='url(%23sw-gradient-0)' d='M0,72L11.4,72C22.9,72,46,72,69,62C91.4,52,114,32,137,22C160,12,183,12,206,14C228.6,16,251,20,274,36C297.1,52,320,80,343,88C365.7,96,389,84,411,84C434.3,84,457,96,480,84C502.9,72,526,36,549,34C571.4,32,594,64,617,68C640,72,663,48,686,46C708.6,44,731,64,754,68C777.1,72,800,60,823,46C845.7,32,869,16,891,12C914.3,8,937,16,960,24C982.9,32,1006,40,1029,54C1051.4,68,1074,88,1097,82C1120,76,1143,44,1166,34C1188.6,24,1211,36,1234,46C1257.1,56,1280,64,1303,66C1325.7,68,1349,64,1371,64C1394.3,64,1417,68,1440,72C1462.9,76,1486,80,1509,84C1531.4,88,1554,92,1577,84C1600,76,1623,56,1634,46L1645.7,36L1645.7,120L1634.3,120C1622.9,120,1600,120,1577,120C1554.3,120,1531,120,1509,120C1485.7,120,1463,120,1440,120C1417.1,120,1394,120,1371,120C1348.6,120,1326,120,1303,120C1280,120,1257,120,1234,120C1211.4,120,1189,120,1166,120C1142.9,120,1120,120,1097,120C1074.3,120,1051,120,1029,120C1005.7,120,983,120,960,120C937.1,120,914,120,891,120C868.6,120,846,120,823,120C800,120,777,120,754,120C731.4,120,709,120,686,120C662.9,120,640,120,617,120C594.3,120,571,120,549,120C525.7,120,503,120,480,120C457.1,120,434,120,411,120C388.6,120,366,120,343,120C320,120,297,120,274,120C251.4,120,229,120,206,120C182.9,120,160,120,137,120C114.3,120,91,120,69,120C45.7,120,23,120,11,120L0,120Z'%3e%3c/path%3e%3cdefs%3e%3clinearGradient id='sw-gradient-1' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(62.678, 210.83, 191.337, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(39.468, 201.723, 180.374, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 50px); opacity:0.9' fill='url(%23sw-gradient-1)' d='M0,108L11.4,94C22.9,80,46,52,69,48C91.4,44,114,64,137,72C160,80,183,76,206,70C228.6,64,251,56,274,48C297.1,40,320,32,343,38C365.7,44,389,64,411,66C434.3,68,457,52,480,56C502.9,60,526,84,549,94C571.4,104,594,100,617,84C640,68,663,40,686,40C708.6,40,731,68,754,80C777.1,92,800,88,823,82C845.7,76,869,68,891,58C914.3,48,937,36,960,32C982.9,28,1006,32,1029,28C1051.4,24,1074,12,1097,12C1120,12,1143,24,1166,42C1188.6,60,1211,84,1234,92C1257.1,100,1280,92,1303,80C1325.7,68,1349,52,1371,48C1394.3,44,1417,52,1440,62C1462.9,72,1486,84,1509,74C1531.4,64,1554,32,1577,32C1600,32,1623,64,1634,80L1645.7,96L1645.7,120L1634.3,120C1622.9,120,1600,120,1577,120C1554.3,120,1531,120,1509,120C1485.7,120,1463,120,1440,120C1417.1,120,1394,120,1371,120C1348.6,120,1326,120,1303,120C1280,120,1257,120,1234,120C1211.4,120,1189,120,1166,120C1142.9,120,1120,120,1097,120C1074.3,120,1051,120,1029,120C1005.7,120,983,120,960,120C937.1,120,914,120,891,120C868.6,120,846,120,823,120C800,120,777,120,754,120C731.4,120,709,120,686,120C662.9,120,640,120,617,120C594.3,120,571,120,549,120C525.7,120,503,120,480,120C457.1,120,434,120,411,120C388.6,120,366,120,343,120C320,120,297,120,274,120C251.4,120,229,120,206,120C182.9,120,160,120,137,120C114.3,120,91,120,69,120C45.7,120,23,120,11,120L0,120Z'%3e%3c/path%3e%3c/svg%3e");

}
.ms_LW{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='wave' style='transform:rotate(0deg); transition: 0.3s' viewBox='0 0 1440 120' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3clinearGradient id='sw-gradient-0' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(33.599, 117.482, 106.445, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(34, 224, 199, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 0px); opacity:1' fill='url(%23sw-gradient-0)' d='M0,72L11.4,72C22.9,72,46,72,69,62C91.4,52,114,32,137,22C160,12,183,12,206,14C228.6,16,251,20,274,36C297.1,52,320,80,343,88C365.7,96,389,84,411,84C434.3,84,457,96,480,84C502.9,72,526,36,549,34C571.4,32,594,64,617,68C640,72,663,48,686,46C708.6,44,731,64,754,68C777.1,72,800,60,823,46C845.7,32,869,16,891,12C914.3,8,937,16,960,24C982.9,32,1006,40,1029,54C1051.4,68,1074,88,1097,82C1120,76,1143,44,1166,34C1188.6,24,1211,36,1234,46C1257.1,56,1280,64,1303,66C1325.7,68,1349,64,1371,64C1394.3,64,1417,68,1440,72C1462.9,76,1486,80,1509,84C1531.4,88,1554,92,1577,84C1600,76,1623,56,1634,46L1645.7,36L1645.7,120L1634.3,120C1622.9,120,1600,120,1577,120C1554.3,120,1531,120,1509,120C1485.7,120,1463,120,1440,120C1417.1,120,1394,120,1371,120C1348.6,120,1326,120,1303,120C1280,120,1257,120,1234,120C1211.4,120,1189,120,1166,120C1142.9,120,1120,120,1097,120C1074.3,120,1051,120,1029,120C1005.7,120,983,120,960,120C937.1,120,914,120,891,120C868.6,120,846,120,823,120C800,120,777,120,754,120C731.4,120,709,120,686,120C662.9,120,640,120,617,120C594.3,120,571,120,549,120C525.7,120,503,120,480,120C457.1,120,434,120,411,120C388.6,120,366,120,343,120C320,120,297,120,274,120C251.4,120,229,120,206,120C182.9,120,160,120,137,120C114.3,120,91,120,69,120C45.7,120,23,120,11,120L0,120Z'%3e%3c/path%3e%3cdefs%3e%3clinearGradient id='sw-gradient-1' x1='0' x2='0' y1='1' y2='0'%3e%3cstop stop-color='rgba(62.678, 210.83, 191.337, 1)' offset='0%25'%3e%3c/stop%3e%3cstop stop-color='rgba(39.468, 201.723, 180.374, 1)' offset='100%25'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3cpath style='transform:translate(0, 50px); opacity:0.9' fill='url(%23sw-gradient-1)' d='M0,108L11.4,94C22.9,80,46,52,69,48C91.4,44,114,64,137,72C160,80,183,76,206,70C228.6,64,251,56,274,48C297.1,40,320,32,343,38C365.7,44,389,64,411,66C434.3,68,457,52,480,56C502.9,60,526,84,549,94C571.4,104,594,100,617,84C640,68,663,40,686,40C708.6,40,731,68,754,80C777.1,92,800,88,823,82C845.7,76,869,68,891,58C914.3,48,937,36,960,32C982.9,28,1006,32,1029,28C1051.4,24,1074,12,1097,12C1120,12,1143,24,1166,42C1188.6,60,1211,84,1234,92C1257.1,100,1280,92,1303,80C1325.7,68,1349,52,1371,48C1394.3,44,1417,52,1440,62C1462.9,72,1486,84,1509,74C1531.4,64,1554,32,1577,32C1600,32,1623,64,1634,80L1645.7,96L1645.7,120L1634.3,120C1622.9,120,1600,120,1577,120C1554.3,120,1531,120,1509,120C1485.7,120,1463,120,1440,120C1417.1,120,1394,120,1371,120C1348.6,120,1326,120,1303,120C1280,120,1257,120,1234,120C1211.4,120,1189,120,1166,120C1142.9,120,1120,120,1097,120C1074.3,120,1051,120,1029,120C1005.7,120,983,120,960,120C937.1,120,914,120,891,120C868.6,120,846,120,823,120C800,120,777,120,754,120C731.4,120,709,120,686,120C662.9,120,640,120,617,120C594.3,120,571,120,549,120C525.7,120,503,120,480,120C457.1,120,434,120,411,120C388.6,120,366,120,343,120C320,120,297,120,274,120C251.4,120,229,120,206,120C182.9,120,160,120,137,120C114.3,120,91,120,69,120C45.7,120,23,120,11,120L0,120Z'%3e%3c/path%3e%3c/svg%3e");
}
#total_sale_results,#actual_benefit_results,#most_sale_results{
    position: relative;
    display:flex;
    align-items:center;
    padding: 15px;
    margin: 10px;
    color: #000000;
    border-radius: 1rem;
}
#total_sale_results{
    justify-content:space-between;
}
#actual_benefit_results{
    background-color: #b0e05e; 
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    /* text-align: center; */
}
#most_sale_results{
    background-color: #4ecbbe;   
}
/* ============================================== */

.total_sale_card > div > svg {
    position: absolute;
}
.total_sale_card > div > h5 > span {
    font-size:1.2rem;
    display:block;
}
.total_sale_card > div > i {
    text-align:center;
}
.total_sale_card > div > i > span{
    display: block;
    font-size: .9rem;
}

/* ============================================= */
.actual_benefit_card > div > svg {
    position: absolute;
}
.actual_benefit_card > #actual_benefit_results > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.actual_benefit_card > #actual_benefit_results > div > h5 > span {
    font-size:1.2rem;
    display:block;
}
.actual_benefit_card > div > i {
    text-align:center;
}
.actual_benefit_card > div > i > span{
    display: block;
    font-size: .9rem;
}

/* ============================================ */


.rank{
    /* position: relative; */
    display: flex;
}
.rank_num{
    font-size: 2.3rem;
    padding: 10px;
}
.rank_results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 30px 0px 10px;
}
.item_name{
    font-size: 1.2rem;
}
.item_amount{

}

/*  =========================================== */

.abTable{
    border-collapse: collapse;
    color: #182d09;
}
.abTable thead tr th{
    border-bottom: 2px solid #ffffff;
}
.abTable tr th, .abTable tr td{
    padding: 10px;
    text-align: left;
}
.abTable tbody tr td{
    font-size: 1.2rem;
}
.abTable tr th:nth-child(5),.abTable tr td:nth-child(5){
    text-align: right;
}
/* ============================================ */
.date_month{
    position: relative;
    /* text-align: center; */
}
.date_month > button{
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 8px 10px 0 rgb(0 0 0 / 10%);
    margin-top:10px;

}
.date_month > div{
    /* display:grid; */
    grid-template-columns:1fr 1fr 1fr;
    margin-top:10px;
    border-radius: 4px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 21%);
    /* position: absolute; */
}

.close{
    position: absolute;
    right: 26px;
    top: 25px;
    color: #ffffff;
}
.hide{
    display: none;
}