:root {
    --blue: #03045e;
}
section{

}
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.location{
    padding: 10px 0px;
}
button{
    /* width: 30%; */
    text-transform: uppercase;
    vertical-align: bottom;
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    font-weight: 700;
    font-size: .9rem;
    line-height: 1.5;
    background-color: #ffffff;
    color: var(--blue);
    border-width: .145rem;
    border-style: solid;
    border-color:var(--blue);
    padding: 6px 16px;
    border-radius: 1rem;
    cursor: pointer;
}

    .printBtn:hover, .stBtn:hover, 
    .comBtn:hover, .phBtn:hover{
        color: #ffffff;
    }
    /* Print */
    .printBtn:hover{
        background-color: #011627;
        border-color: #011627 !important;
    }

    /* Stationary */
    .stBtn:hover{
        background-color: #8d0801;
        border-color: #8d0801 !important;

    }
    
    /* Computer */
    .comBtn:hover{
        background-color: #335e51;
        border-color: #335e51 !important;
        
    }
    /* Phone */
    .phBtn:hover{ 
        background-color: #ac6a0e;
        border-color: #ac6a0e !important;
    }
    .subBtn:hover, .subBtn:hover i{
    background-color: var(--blue);
    color: #ffffff;
}

button:focus-visible{
    outline: none !important;
}
.title{
    margin-left: 30px;
    color: #474b50;

}
.sub_title{
    margin-left: 30px;
    color: #474b50;
}
.form, .form-entry-buttons{
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 20px 20px;

}
.form-entry-buttons{
    width: 60%;
    background-color: #ffffff;
    border-bottom: 3px solid var(--blue);
    box-shadow: 0 3px 20px rgb(0 0 0 / 15%);
    margin-right: 10px;
}
    .form-entry{
        margin-bottom: 20px;
    }
    .btn-groups button{
        margin-right: 10px;
    }

.form{
    width: 60%;
    background-color: #ffffff;
    border-bottom: 3px solid var(--blue);    
    box-shadow: 0 3px 20px rgb(0 0 0 / 15%);
}
    .form_header{
        position: relative;
        border-bottom: 3px solid;
        padding: 4px;
        margin-bottom: 20px;
    }
        .close{
            position: absolute;
            top: 0;
            right: 0;
        }
    .form_inputs_group{
        display: grid;
        grid-template-columns: 2fr 2fr;
        row-gap: 20px;
    }
        .input_groups label{
            display: block;
            padding-bottom: 10px;
            font-size: 1rem;
        }
        .input_groups input{
            width: 80%;
            /* background-color: red; */
            font-size: 1rem;
            font-weight: 700;
            padding: 10px 10px;
            border:none;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.11);
            
        }
        .input_groups input:hover{
            border-width: 3px;
            border-color: var(--blue);
            color: var(--blue);
        }
        .input_groups input:focus-visible{
            color: #212529;
            background-color: #fff;
            outline: 0;
            border-bottom: 3px solid black;
            /* box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); */
        }
            .select{
                width: 100%;
                height: 180px;
                position: absolute;
                overflow: hidden;
                overflow-y: scroll;
                background-color: #ffffff;
                box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
                z-index: 5;
            }
                .select option{
                    padding: 10px 10px;
                    border-bottom: 1px solid #dbd6d68a;
                    color:black
                }
                .select option:hover{
                    background-color: var(--blue);
                    color: white;
                }

    /* print */
    .print-color{ color: #011627; }

    /* Computer */
    .com-color  { color: #8d0801; }

    /* Stationary */
    .st-color   { color: #335e51;}

    /* Phone */
    .ph-color   { color: #ac6a0e; }

        .paperBtn{
        }
        .paperBtn button{
            
        }
        .operator_groups{
            display: flex;
        }
        .circle{
            margin-right: 10px;
            border-radius: 40%;
            border: 3px solid #ced4da;
            padding: 7px 10px;
            box-shadow: 0 3px 20px rgb(0 0 0 / 24%);
            cursor: pointer;
        }
        .circle:hover, .circleActive{
            background-color: #ffffff;
            border-color:#003f88;
        }
        .form_submit{
            left: 0;
        }
            .form_submit button:hover i{
                color: #ffffff;
            }

.form-panel{

}
.btn-groups{

}
.form-groups{

}
.date_price{
    display: flex;
    justify-content: flex-start;
}
    .today_date,.today_total{
        /* padding: 10px 10px; */
    }
    .today_date{
        margin-right: 10px;
        /* width: 100%; */
    }
    .today_total{

    }
        .date_price p{
            font-size: calc(1.9rem - 14px);
            padding: 8px 10px;
            background-color: #253d58;
            color: #ffffff;
            border-radius: .5rem;
        }
            .date_price i{
                padding: 10px 8px;
            }

.table_panel{
    margin-left: 30px;
    background-color: #ffffff;
    padding: 20px 15px;
}
    /* CSS for Title of sale record tables */
    .table_panel p{
        width: 35%;
        position: relative;
        font-size: 1.4rem;
        color: #ffffff;
        padding: 15px 15px;
        box-shadow: 0 3px 20px rgb(0 0 0 / 24%);
        font-weight: 700;
    }
    .table_panel p:before{
        content: '';
        position: absolute;
        bottom: -8px;
        height: 3px;
        left: 7px;
        width: 99%;
        border-bottom: 3px solid #0d3f79;
        border-left: 3px solid  #0d3f79;
    }
    .table_panel p:after{
        content: '';
        position: absolute;
        height: 90%;
        right: -8px;
        top: 11px;
        width: 3px;
        border-right: 3px solid;
        border-top: 3px solid;
    }
    /* Print */
    .print                      { background-color: #011627;}

    .print:after, .print:before { border-color: #011627 !important; }

    /* Stationary */
    .st                         { background-color: #335e51;}
    .st:after,.st:before        { border-color: #335e51 !important; }
    
    /* Computer */
    .com                        { background-color: #8d0801;}
    .com:after, .com:before     { border-color: #8d0801 !important; }
    
    /* Phone */
    .ph                         { background-color: #ac6a0e;}
    .ph:after,.ph:before        { border-color: #ac6a0e !important; }

    .whole_table_container{
        /* background-color:red; */
        width: 90%;
        margin:auto;
    }
        table{
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
            color: #ffffff;
        }
        .table-header{
            /* width:60%; */
            box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
        }
        .table-body{
            /* width: 60%; */

            max-height: 270px;
            overflow:hidden;
            overflow-y: scroll;
            line-height: 1.4;
            box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
        }
            .table-body table{
            }
            .table-header th{
                font-size: 1rem;
                line-height: 1.4;
            }

            /* print */
            .print-header       { background-color: #011627;}
            .print-body tr td   { color: #011627 !important;}

            /* stationary */
            .st-header       { background-color: #335e51;}
            .st-body tr td   { color: #335e51 !important;}

            /* computer */
            .com-header       { background-color: #8d0801;}
            .com-body tr td   { color: #8d0801 !important;}

            /* Phone */
            .ph-header       { background-color: #ac6a0e;}
            .ph-body tr td   { color: #ac6a0e !important;}

            .table-body tr:nth-child(even){
                /* color: white; */
                /* background-color: #949fb4; */
            }
            .table-body td{
                font-size: 1.1rem;
                border-bottom: 1px solid #c7bfbf91;
            }
            .table-header th, .table-body td{
                
                padding-top: 18px;
                padding-bottom: 18px;
                text-align: center;
                width: 216px;
                /* padding-left: 40px; */
            }
            ::-webkit-scrollbar {
            
            } 
.hide{
    display: none;
}
.disFlex{
    display: flex;
}
.ml-2{
    margin-left: 20px;
}
.active{
    background-color: var(--blue);
    color: #ffffff !important;
}
.pd-r-8{
    padding-right: 8px;
}
.blue{
    color: var(--blue);
    border-color: var(--blue);
}
.red{
    color: #f93154;
    border-color: #f93154;
}
.green{
    color: #00b74a;
    border-color: #00b74a;
}
.purple{
    color: #b23cfd;
    border-color: #b23cfd;
}
.warning{
    color: #ffa900;
    border-color: #ffa900;
}
.brown{
    background-color: #7f5539;
}